.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .visually-hidden:not(:focus),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
  }
  
  .wrapper {
    max-width: 1600px;
    width: 100%;
    padding: 0 48px;
    margin: 0 auto;
  }

  .hero_title{
    position: relative;
    color: inherit;
    font-size: 70px;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 0;
  }

  .button {
    padding: 21px 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: var(--white);
    background-color: var(--bluviolet);
    border-radius: 32px;
    max-width: -moz-max-content;
    max-width: max-content;
    transition: background-color 0.3s;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr auto;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(19, 23, 48, 0.25);
  transition: opacity 0.3s;
  content: "";
  pointer-events: none;
  opacity: 0;
}

