<div class="index">
  <h1 class="hero_title">Заказы: </h1>
  <div class="index_сountry">
    <%@order.each do |client|%>
      <p class="index_client_lists_content"><%= link_to "Номер заказа: #{client.number_order}", histore_oreders_path(id: client.id) %></p>
    <%end%>
  </div>
  <div class="index_button button"><span><%=link_to "Добавить заказ ",new_histore_order_path(@order)%></span></div>
</div>
